@page "/login"
@using Model
@inject NavigationManager NavigationManager
@inject ILoginService LoginService

<EditForm EditContext="editContext">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h3 class="mb-4">Login</h3>
                
                <div class="form-group">
                    <label for="username">Username:</label>
                    <InputText id="username" @bind-Value="username" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <InputText id="password" @bind-Value="password" class="form-control" type="password" />
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" @onclick="HandleLogin">Login</button>
                    <button type="button" class="btn btn-secondary" @onclick="HandleRegisterClick">Register</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private EditContext editContext;

    private string username;
    private string password;

    protected override void OnInitialized()
    {
        var user = new User(); 
        editContext = new EditContext(user);
    }

    private async Task HandleLogin()
    {
        User user = await LoginService.Login(username, password);
        if (user.Uid != 0 && user.IsAuthenticated)
        {
            await DataSession.CreateInstance(user);
            NavigationManager.NavigateTo("/WorkoutPlan");
            Console.WriteLine(user.Uid);
        }
        else
        {
            Console.WriteLine("Login failed.");
        }
        
        
       
    }

    private void HandleRegisterClick()
    {
        NavigationManager.NavigateTo("/register");
    }
    
}