@page "/WorkoutPlan"
@using Model


@inject IWorkoutPlanService workoutPlanService
@inject ILoginService LoginService
@inject NavigationManager _navigationManager





@if (!DataSession.Instance.User.IsAuthenticated)
{
    <h4>Please log in or Create an account in order to access your workout plans</h4>
}
else if (workoutplanToShow == null)
{
    <p>
        <em> Loading... </em>
    </p>
}

else if (!workoutplanToShow.Any())
{
    <p> No Workout Plans exist, please create one. </p>
}
else
{
    <button type="button" class="btn btn-secondary" @onclick="Logout">Logout</button>
    <table class="table">
        <thead>
        <tr>
            <th>Workout name</th>
            <th>TimeGoal</th>
            <th>Type</th>
            <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var workout in workoutplanToShow)
        {
            <tr>
                <td>@workout.WPname</td>
                <td>@workout.Timegoal</td>
                <td>@workout.Type</td>
                <td>
                    <button @onclick="@(() => RemoveWorkoutPlan(workout.Wpid))">
                        <i class="oi oi-trash" style="color:red"/>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>





@code {

    private List<WorkoutPlan> workoutplanToShow;
    private List<WorkoutPlan> allWorkoutPlans;

    protected override async Task OnInitializedAsync()
    {
        if (DataSession.Instance.User.IsAuthenticated)
        {
            allWorkoutPlans = (List<WorkoutPlan>) await LoginService.GetWpByUserID(DataSession.Instance.User.Uid);
            workoutplanToShow = allWorkoutPlans;
        }
    }

    private async Task Logout()
    {
        DataSession.Instance.User.IsAuthenticated = false;
        _navigationManager.NavigateTo("/login");
    }


    private async Task RemoveWorkoutPlan(int workoutWpid)
    {
        await workoutPlanService.DeleteWorkoutPlan(workoutWpid);
        workoutplanToShow.Remove(workoutplanToShow.First(w => w.Wpid == workoutWpid));
        Console.WriteLine("workout plan deleted");
    }

}

}